<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A Trip</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'travels/css/styles.css' %}">
  </head>
  <body>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <h2>Add A Trip</h2>
    <form action="/travels/" method='post'>
      {% csrf_token %}
      Destination: <input type="text" name="dest">
      <input type="hidden" value="{{request.session.user.user_name}}" name="addby">
      Description: <input type="text" name="plan">
      Travel Date From: <input type="date" name="trav_start" max="" value="" placeholder="YEAR-MO-DY">
      Travel Date To: <input type="date" name="trav_end" max="" value="" placeholder="YEAR-MO-DY">
      <!-- <input type="hidden" name="dateadd"> -->
      <input type="submit" value="Add">
    </form>
    <a href="/travels">Go back</a>
  </body>
</html>
